<div style="width: 100%; padding: 1rem; display: table;">
    <div style="display: table-cell; width: 20%;vertical-align: middle">
        {{ component('logo') }}
    </div>
    <div style="display: table-cell; width: 60%;vertical-align: middle">
        {{ component('middle') }}
    </div>
    <div style="display: table-cell; width: 20%;vertical-align: middle">
        {{ component('login') }}
    </div>
</div>