<gr-field-group label="{{ property('name') }}" style="box-shadow: var(--gr-shadow-x-large); width: 100%">
  <gr-button class="unhandled-add-to-list-button" variant="secondary" data-template="{{ component('__PROTO__')|e }}">
    <ion-icon name="add-circle-outline"></ion-icon> Add
  </gr-button>
  <div style="margin-left: 10%; width: 86%; padding: 2%">
  </div>
  <script>
  (function (element) {
    const id = provideId();
    element.addEventListener('click', function (event) {
      const target = event.target || element;
      const listContainer = target.nextElementSibling;
      var div = document.createElement('div');
      div.classList.add('form-list-item' + id);
      const keyName = document.querySelectorAll('.form-list-item' + id).length;
      setInnerHtml(div, target.dataset.template.replace(/{{ property('name').getPrototypeName() }}/g, keyName));
      listContainer.appendChild(div);
    })
    element.classList.remove('unhandled-add-to-list-button');
  }(document.querySelector('.unhandled-add-to-list-button')));
  </script>
</gr-field-group>