<apie-form-group class="unhandled-form-group" name="{{ property('groupName') }}" style="box-shadow: var(--gr-shadow-small); width: 100%">
{%- if property('validationError') -%}
  <div class="form-control-invalid-text">
    <div class="text">{{ property('validationError') }}</div>
  </div>
  {%- else -%}
    {%- for key,description in property('missingValidationErrors') -%}
      <div class="form-control-invalid-text">
        <div class="text">{{ description }}</div>
      </div>
    {%- endfor -%}
  {%- endif -%}
  {% for key in property('keys') %}
    {{ component(key) }}
  {% endfor %}
</apie-form-group>