<gr-field-group label="{{ property('name') }}" style="box-shadow: var(--gr-shadow-x-large); width: 100%">
  <gr-button disabled class="unhandled-add-to-list-button" variant="secondary" data-template="{{ component('__proto__')|e }}">
    <ion-icon name="add-circle-outline"></ion-icon> Add
  </gr-button>
  <gr-input placeholder="record to add" pattern="^[a-zA-Z0-9]+$" name="internal-{{ property('name') }}" ></gr-input>
  <div style="margin-left: 10%; width: 90%; padding: 2%">
  </div>
  <script>
  (function (element) {
    const id = provideId();
    const inputField = element.nextElementSibling;
    inputField.addEventListener('gr-change', function (event) {
      console.log(event.target.value);
      const value = String(event.target.value);
      element.disabled = !/^[a-zA-Z0-9]+$/.test(value) || document.querySelector('.form-list-item' + id + '.key-' + value);
    })
    element.addEventListener('click', function (event) {
      const target = event.target || element;
      const listContainer = target.nextElementSibling.nextElementSibling;
      var div = document.createElement('div');
      const keyName = inputField.value;
      div.classList.add('form-list-item' + id);
      div.classList.add('key-' + keyName);
      setInnerHtml(div, target.dataset.template.replace(/{{ property('name').getPrototypeName() }}/g, keyName));
      target.disabled = true;
      listContainer.appendChild(div);
    })
    element.classList.remove('unhandled-add-to-list-button');
  }(document.querySelector('.unhandled-add-to-list-button')));
  </script>
</gr-field-group>