body {
    background-color: #EEEEEE;
    padding: 0;
    margin: 0;
}
body .layout {
    padding-top: 8rem;
}
body.scrollbar-lg .layout {
    padding: 0;
}
nav {
    z-index: 40; position: fixed;top: 0;left: 0;width: 100%; border-bottom-width: 1px; background-color: white
}
.hide-bullets li {
    list-style: none;
}
gr-field-group > .form-control-invalid-text {
    font-size: var(--gr-form-element-invalid-text-font-size-medium);
    color: var(--gr-form-element-invalid-text-color);
    line-height: var(--gr-line-height-normal);
}
.autocomplete-container {
    display: flex;
    position: relative;
  }
.autocomplete-list {
    position: absolute;
    background-color: white;
    border: 1px solid gray;
    z-index: 1;
    width: 100%;
}
.autocomplete-list .highlighted {
    background-color: lightgray;
    color: white;
    font-weight: bold;
  }
  
.autocomplete-list div {
    padding: 0.5em;
    cursor: pointer;
}
  
.autocomplete-list div:hover {
    background-color: lightgray;
}

table.detail-table {
    width: 100%;
    margin: 10px auto;
    margin-right: 10px;
    border-collapse: collapse;
    border: 1px solid #ccc;
    background-color: #fff;
}
  
table.detail-table th {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-weight: bold;
}
  
table.detail-table td {
    border: 1px solid #ccc;
    padding: 10px;
}
  
table.detail-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
  
table.detail-table table {
    width: 100%;
    border: 1px solid #ccc;
}
  
table.detail-table table th {
    background-color: #e0e0e0;
    font-weight: normal;
}
  
table.detail-table table td {
    border: 1px solid #ccc;
}

table.detail-table td, table.detail-table th {
    margin: 0;
}