<div>
  <revo-grid style="max-height: 80%"/>
  <script>
  (function(grid) {
    function renderCell(createElement, props) {
      return createElement('div', {}, props.model[props.prop] || '');
    }
    const columns = {{ property('columns') | json_encode | raw }}
        .map(function (name) {
          return {
            prop: name,
            name: name,
            cellTemplate: renderCell,
          }
        });
    const rows = {{ property('list') | json_encode | raw }};

    grid.columns = columns;
    grid.source = rows;
  })(document.querySelector('revo-grid'))
  </script>
</div>