<div>
    <div>
        Shown {{ property('shownCount') }} of {{ property('totalCount') }}
    </div>
    <div>
        {% for i in range(1, property('totalCount') / property('pageSize')) %}
            <gr-button onclick="alert({{ property('querySearch').withPageIndex(i - 1).toHttpQuery() | json_encode }})" size="small">{{ i }}</gr-button>
        {% endfor %}
    </div>
</div>