<div style="padding: 15PX; float: right">
{% for action in property('actions') %}
  <gr-button variant="primary" onclick="location.href = {{ action.getUrl(property('config')) | json_encode}}">{{ action.name }}</gr-button>
{% endfor %}
</div>